@model Parking.Models.EntradaVM
@addTagHelper *, Vereyon.Web.FlashMessage


<div class="container smfont">
    <form asp-action="Entrada" autocomplete="off">
        <div class="mx-auto" style="width: 500px;">
            <div class="card text-center">
                <div class="card-body">
                    <br>
                    <h5 class="card-title">INGRESO DE VEHICULOS</h5>
                    <br>
                    <label asp-for="Placa" class="control-label">Ingrese la placa del vehiculo</label>
                    <input asp-for="Placa" class="form-control"  placeholder="XXX000">
                    <br>
                    <button type="button" class="btn btn-secondary">ACEPTAR</button>
                </div>
            </div>
        </div>
    </form>
    <flash dismissable="true" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}