<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Parking.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Collapsed content</h5>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Entradas" asp-action="Entrada">
                    <img src="~/Images/Imagen1.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    PARKING CAR
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>

    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>PARKINGKAR
                        </h6>
                        <p>
                            Parking Car es un parqueadero que cuenta con la seguridad necesaria para que este tanquilo siempre que nos deje el vehiculo, cuenta con la mejor tecnologia de medellin para que se sienta confiado de dejar su vehiculo
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            PLANES
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Parquedaro mensual</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Parqueadero quincenal</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Lavado de vehiculos mensual</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Lavado de vehiculo ocasional</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            CONTACTO
                        </h6>
                        <p><i class="fas fa-home me-3"></i> COLOMBIA CALLE 10 # 24</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            sissevid@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 57 5552020</p>
                        <p><i class="fas fa-print me-3"></i> + 57 300 222 22 22</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">parkin.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
